.box{
    /* width: 90px;
    height: 90px; */
    /* font-size: 47px; */
    align-content: center;
    
}

.turn {
    font-size: 47px;
}
.isSelect {
    width: 70px;
    height: 70px;
    border-radius: 5px;
    color: #fff;
    background: #0099ff;
    
}