.containerCarrusel{
    display: flex;
    gap: 20px
}

.containerCenter{
    display: flex;
    flex-direction: column;
}

.containerTable h2 {
    margin: 0px;
    width: 20%;
}

.imgTable{
    width: 300px;
}
